.img-fluid{
    width: 50%;
    height: 50%;
}
.mb-4{
    font-family: 'Courier New', Courier, monospace
}
.text-white-50{
    font-family: 'Courier New', Courier, monospace
}
h4{
    font-weight: bold;
}
.mb-0{
    font-weight: bold;
}
.mb-5{
    font-weight: bold;
}
.ms-auto{
    font-weight: bold;
    
}

